<strong>Olá, {{owner}}</strong>
<p>Houve uma inscrição em um dos seus meetups, confira os detalhes abaixo:</p>
<p>
    <strong>Meetup: </strong> {{ meetup }} <br/>
    <strong>Usuário: </strong> {{ user }} <br/>
    <strong>Data/hora: </strong> {{ date }} <br/>
    <br />
</p> 